@media (max-width: 1080px) {
    html {
        font-size: 93.75%; /* 15px */
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%; /* 14px */
    }
}

body {
    overflow-x: hidden;
}

.animation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
.nav {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.6rem 0 1.6rem;
    position: relative;
}

.nav.mobile {
    display: none;
}

.gradient {
    width: 100%;
    height: 150%;
    background: radial-gradient(59.3% 59.3% at 54.07% 40.7%, rgba(0, 242, 39, 0.15) 0%, rgba(196, 196, 196, 0) 100%);
    transform: matrix(1, -0.05, 0.05, 1, 0, 0);
    position: absolute;
}

.logo {
    width: 9rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo span {
    font-weight: 700;
    font-size: 1.5rem;
    color: #00C314;
}

.links {
    width: 18rem;
    display: flex;
    justify-content: space-between;
}

.links a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    color: black;
}

/* Buttons */
.download-button {
    width: 12rem;
    height: 2.4rem;
    background: #4C35E4;
    color: white;
    border: none;
    border-radius: 0.6rem;

    font-weight: 600;
    font-size: 1rem;

    cursor: pointer;
}

.download-button.header {
    margin-right: 5rem;
}

/* Introduction */
.introduction {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.introduction-mobile {
    display: none;
}

.introduction-text {
    width: 32rem;
}

.introduction-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1.6rem;
}

.introduction-text p {
    font-weight: 500;
    font-size: 1.5rem;
}

.download-now {
    margin-top: 1.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.how-works {
    margin-left: 1.7rem;
    font-weight: 500;
}

/* Instructions */
.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 11rem;
}

.instructions h1 {
    font-size: 2.25rem;
}

.instructions h2 {
    font-size: 1.75rem;
    font-weight: 500;
}

.plant-instructions {
    width: 51.8rem;
    display: flex;
    justify-content: space-between;
    margin-top: 2.8rem;
}

.instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instruction h1 {
    font-size: 1.6rem;
}  

.instruction span {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    display: block;
    width: 12.6rem;
}  

.dibble img {
    width: 13.1rem;
}

.reap img {
    width: 10rem;
    margin-bottom: 1rem;
}

.vase img {
    width: 10.3rem;
    margin-bottom: 1rem;
}

/* App Description */
.app-description {
    width: 80vw;
    height: 90vh;
    margin-top: 15rem;
    background: linear-gradient(125.8deg, #38EF7D 15.46%, #11998E 103.34%);
    border-radius: 3rem;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.app-description-mobile {
    display: none;
}

.app-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.informations h1 {
    font-size: 2.5rem;
    width: 29.6rem;
}

.informations p {
    font-weight: 500;
    font-size: 1.5rem;
    width: 35.5rem;
}

/* Avaliations */
.avaliations {
    margin-top: 10.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avaliations h1 {
    font-size: 2.5rem;
}

.avaliations h2 {
    font-size: 2.2rem;
    font-weight: 600;
    width: 39.8rem;
    text-align: center;
}

.avaliation-cards {
    width: 100%;
    margin-top: 8.75rem;
    display: flex;
    justify-content: space-between;
}

.avaliation-cards :nth-child(2) {
    margin-top: -6rem;
}

/* Download */
.download {
    width: 80vw;
    height: 60vh;
    margin-top: 10rem;
    background: #292929;
    border-radius: 3rem;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.download h1 {
    font-size: 2.5rem;
    width: 26.3rem;
}

.download p {
    margin-top: 1.6rem;
    font-weight: 500;
    font-size: 1.5rem;
    width: 28.2rem;
}

.stores-images {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 135px 135px;
}

.stores-images img {
    cursor: pointer;
}

/* Footer */
footer {
    height: 70vh;
    margin-top: 10.5rem;
    background: linear-gradient(125.8deg, #38EF7D 15.46%, #11998E 103.34%);
    color: white;
    border-radius: 3.75rem 3.75rem 0 0;
}

.footer-container {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-image img {
    width: 80%;
}

.about-us h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.contact-us {
    margin-top: 3rem;
}

.contact-us span {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 1.6rem;
}

.contact-us p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.credits h1 {
    font-size: 2rem;
}

.credits {
    height: 15%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Responsive */
@media only screen and (max-width: 1255px) {
    .app-image img {
        width: 90%;
    }

    .informations h1 {
        font-size: 2.3rem;
        width: 25rem;
    }
    
    .informations p {
        margin-top: 0.2rem;
        font-weight: 500;
        font-size: 1.3rem;
        width: 30rem;
    }
}

@media only screen and (max-width: 1020px) {
    .app-description {
        height: 75vh;
    }

    .app-image img {
        width: 80%;
    }

    .informations h1 {
        font-size: 2.25rem;
        width: 25rem;
    }
    
    .informations p {
        font-weight: 500;
        font-size: 1.2rem;
        width: 27rem;
    }

    .download {
        width: 80vw;
        height: 60vh;
        margin-top: 10rem;
        background: #292929;
        border-radius: 3rem;
        color: white;
    }
    
    .download h1 {
        font-size: 2.3rem;
        width: 24rem;
    }
    
    .download p {
        font-size: 1.3rem;
        width: 26rem;
    }
    
    .stores-images {
        display: grid;
        grid-template-columns: 120px 120px;
        grid-template-rows: 120px 120px;
    }

    .stores-images img {
        width: 90px;
    }
}

@media only screen and (max-width: 890px) {
    html {
        font-size: 70%;
    }
}

@media only screen and (max-width: 768px) {
    .nav {
        display: none;
    }
    
    .nav.mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        width: 16rem;
    }

    .logo span {
        font-size: 3rem;
        margin-left: 1rem;
    }

    .logo img {
        width: 6vw;
    }

    .introduction {
        display: none;
    }

    .introduction-mobile {
        margin-top: 9rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .introduction-mobile h1 {
        font-size: 2.5rem;
        width: 55vw;
        text-align: center;
    }

    .introduction-mobile p {
        margin-top: 0.8rem;

        font-size: 2rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.7);
        width: 60vw;
        text-align: center;
    }

    .instructions h1 {
        width: 40vw;
        text-align: center;
    }

    .instructions h2 {
        color: rgba(0, 0, 0, 0.7);
        font-weight: 600;
    }

    .app-description {
        height: 900px;
        width: 85vw;
        border-radius: 5rem;
        flex-direction: column-reverse;
    }

    .app-description h1 {
        font-size: 3rem;
        width: 55vw;
        text-align: center;
    }

    .app-description p {
        margin-top: 1.5rem;
        width: 60vw;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
    }

    .app-image img {
        width: 30vw;
    }

    .avaliations h1 {
        font-size: 3rem;
        text-align: center;
        width: 60vw;
    }

    .avaliations h2 {
        color: rgba(0, 0, 0, 0.7);
        margin-top: 1rem;
        width: 40vw;
    }

    .download {
        flex-direction: column;

        height: 800px;
        width: 85vw;
        border-radius: 5rem;
    }

    .download h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .download p {
        font-size: 2rem;
        text-align: center;
        color: rgba(255, 255, 255, 0.7);
    }

    .download-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
    }

    .stores-images {
        display: grid;
        grid-template-columns: 30vw 30vw;
        grid-template-rows: 30vw 30vw;
    }

    .stores-images img {
        width: 22vw;
        margin: auto;
    }

    footer {
        height: 700px;
    }

    .footer-container {
        flex-direction: column;
        justify-content: center;
    }

    .contact-image img {
        width: 45vw;
        margin: 4rem 0 4rem 0;
    }

    .about-us h1 {
        margin-bottom: 1rem;
    }

    .contact-us {
        margin-bottom: 10vh;
    }

    .contact-us h1 {
        text-align: center;
    }

    .social-networks h1 {
        text-align: center;
    }

    .social-images {
        display: flex;
        justify-content: space-evenly;
    }

    .credits {
        flex-direction: column;
        justify-content: center;
        font-size: 1rem;
    }
}